body {
  font-family: 'Roboto', sans-serif;
  color:#333;
}

*, *::after, *::before {
  box-sizing: border-box;  
}

img {
  max-width: 100%;
  height: auto;
}
a {
  color: $colorGold;
}

.mb50 {
  margin-bottom: 50px;
}
.pb70 {
  padding-bottom: 70px;
}
.mt0{
  margin-top: 0;
}

.page-section {
  padding: 1.1rem 0;
  &--blue {
    background-color: $colorMainBlue;
  }
  @mixin atSmall {
    padding: 4rem 0;
  }
  &--testimonials {
    background-color: rgba(99, 99, 240, 0.3);
    @mixin atMedium {
      background-image: url('../../assets/images/testimonials-bg.jpg'); 
      background-position: center top;
      background-size: cover;
    }
  }
  &--no-pb-until-md {
    padding-bottom: 0;
    @mixin atMedium {
      padding-bottom: 4rem;
    }
  }
} 

.wrapper {
  &--no-plr-until-md {
    padding-left: 0;
    padding-right: 0;
    @mixin atMedium {
      padding-left: 16px;
      padding-right: 16px;
    }
  }
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  &--medium {
    max-width: 976px;  
  }
  .wrapper {
    padding: 0;
  }
}

.headline {
  font-size: 2.5rem;
  font-weight: 300;
  color: $colorMainBlue;
  &--centered {
    text-align: center;
  }
  &--orange {
    color: $colorGold;
  }
  &--small {
    font-size: 1.8rem;
  }
  &--narrow {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
  }
  &--b-margin-large {
    margin-bottom: 2em;
  }
  &--b-margin-small {
    margin-bottom: .7em;
  }
  &--no-t-margin {
    margin-top: 0;
  }
}

.row {
  &--gutter {
    margin-right: -50px;
  }
  &--gutter > div {
    padding-right: 50px;
  }
  &--gutter-large {
    margin-right: -100px;
  }
  &--gutter-large > div {
    padding-right: 100px;
  }
  @mixin clearfix{};

  @mixin atMedium {
    &__md-4 {
    float: left;
    width: 33.3%;
    }
    &__md-8 {
      float: left;
      width: 66.6%;
    }
  }
  @mixin atMedium {
    &__md-6 {
    float: left;
    width: 50%;
    }
  }
  &--no-mb-until-medium {
    margin-bottom: 1rem;
    @mixin atSmall {
      margin-bottom: 0;
    }
  }

  &--flex-md {
    @mixin atMedium {
      display: flex;
      & > div {
        display: flex;
      } 
    }
  }
  
}


.generic-content-container {
  p {
    line-height: 1.6;
    margin: 0 0 20px 0;
    font-weight: 300;
    text-align: left;
    @mixin atSmall {
      font-size: 1.15rem;
    }
  }
  p a {
    font-weight: 700;
  }
}
#features {
  color: snow;
}
.section-title { 
  text-align: center;
  font-size: 3rem;
  font-weight: 300;
  &__icon {
    display: block;
    position: relative;
    top: 8px; 
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 10px;
    @mixin atSmall {
      display: inline-block;
      margin-right: 15px;
      margin-bottom: 0;
    }
  }
  &--blue {
    color: $colorMainBlue;
  }
}

.feature-item {
  @mixin atSmall {
    padding-left: 85px;
  }
  position: relative;
  margin-bottom: 2.5rem;
  &__icon {
    display: block;
    margin: 0 auto;
    @mixin atSmall {
      position: absolute;
      top: 0;
      left: 0;
    }
  }
  &__title {
    @mixin atSmall {
      font-size: 1.375rem;
      text-align: left;
    }
    text-align: center;
    font-size: 1.2rem;
    font-weight: 400;
    margin-bottom: .5rem;
  }
}

.testimonial {
  @mixin atMedium {
    margin-bottom: 0;
  }
  &--last {
    margin-bottom: 0;
  }
  margin-bottom: 86px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 0 15px 1px 15px;
  &__photo {
    height: 140px;
    width: 140px;
    display: inline-block;
    border-radius: 50%;
    transform: translateY(-50%);
    margin-bottom: -70px;
    border: 6px solid rgba(255, 255, 255, 0.7);
  }
  &__title {
    font-size: 1.2rem;
    margin: 0;
    color: $colorMainBlue;
  }
  &__subtitle {
    margin: .25rem 0 1rem 0;
    font-size: .9rem;
    color: $colorGold;
  }
}